﻿@using AcerCms.UI.Areas.Admin.Models
@model AcerCms.UI.Areas.Admin.Models.NewsViewModel
@{
    ViewBag.Title = "Yeni Haber";    
}

<div id="loading" style="display: none;">Lütfen Bekleyiniz...</div>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Yeni Haber</h3>
                </div>

                @using (Ajax.BeginForm("YeniHaber", "Haber", new AjaxOptions()
                {
                    HttpMethod = "post",
                    InsertionMode = InsertionMode.Replace,
                    LoadingElementId = "loading"
                }, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })


                    
                    
                    <div class="box-body">

                        
                        @Html.DisplayFor(m=> m.isDeleted, "CheckBox")

                        @*<div class="form-group">
                            @Html.LabelFor(model => model.Title, new { @class = "control-label" })
                            @Html.EditorFor(model => model.Title)
                            @Html.ValidationMessageFor(model=> model.Title)
                        </div>*@

                        @Html.EditorFor(m=> m.Title, "FormGroup")

                        @*<div class="form-group">
                            <label for="exampleInputPassword1">Kısa Açıklama</label>                           
                            @Html.TextBoxFor(model => model.ShortDescription, new { @class = "form-control", @placeholder = "Kısa Açıklama" })
                        </div>*@
                        @Html.EditorFor(m => m.ShortDescription, "FormGroup")

                        @*<div class="form-group">
                            <label for="exampleInputPassword1">İçerik</label>
                            @Html.TextAreaFor(model => model.Content, new { @class = "form-control", @placeholder = "İçerik", @rows = "5" })
                        </div>*@

                        @Html.EditorFor(m=> m.Content, "FormGroupTextArea")

                        <div class="form-group">
                            <label for="exampleInputPassword1">Görüntülenme Sayısı</label>
                            @Html.TextBoxFor(model => model.ViewCount, new { @class = "form-control", @placeholder = "" })
                        </div>

                        <div class="form-group">
                            <label for="exampleInputFile">Resim</label>
                            <input type="file" id="haberResim" name="file">
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

